Repository iMykhailychenko/genesis-hackathon: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn prettier

init
  package.json
Due: yarn lint

init
  .lintstagedrc.json
  package.json
Due: yarn lint

init
  src/root/root.jsx
Due: yarn lint, yarn prettier

init
  package.json
  yarn.lock
Due: yarn lint

init
  src/App.jsx
  src/root/root.jsx
Due: yarn lint, yarn prettier

init
  .idea/.gitignore
  .idea/git-hub-actions.iml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

remove .idea file
  .gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/prettier.xml
  .idea/workspace.xml
Due: none

remove .idea file
  .idea/workspace.xml
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

ci/cd
  .github/workflows/main.yml
  Procfile
Due: none

ci/cd
  .github/workflows/main.yml
Due: none

ci/cd
  .github/workflows/main.yml
  src/pages/posts/[postId].tsx
Due: none

ci/cd
  src/pages/index.tsx
Due: none

add readme file
  README.md
Due: none

update app name
  package.json
Due: yarn lint

added header component
  package.json
  public/images/heart.svg
  public/images/icons_cafeteria.svg
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/layout.scss
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/styles.scss
  yarn.lock
Due: yarn lint

S3 setup/load-aws-image page
  .env.example
  .gitignore
  package.json
  src/pages/api/s3-upload.ts
  src/pages/load-aws-image.tsx
  yarn.lock
Due: yarn lint

S3 setup/load-aws-image page (#12)
  .env.example
  .gitignore
  package.json
  src/pages/api/s3-upload.ts
  src/pages/load-aws-image.tsx
  yarn.lock
Due: yarn lint

add rating component
  package.json
  src/assets/img/coffee-shop-1.jpg
  src/components/card/card-data.js
  src/components/card/card-item.tsx
  src/components/card/rating.tsx
  src/components/card/reviews.tsx
  src/pages/card-test.tsx
  yarn.lock
Due: yarn lint, yarn prettier

removed unnecessary fiels
  src/components/card/card-data.js
  src/components/card/card-item.tsx
  src/components/card/rating.tsx
  src/components/card/reviews.tsx
  src/pages/card-test.tsx
Due: yarn lint, yarn prettier

add rating component
  src/components/card/rating.tsx
Due: none

add reviews component
  src/components/card/reviews.tsx
Due: none

add card item component
  src/components/card/card-item.tsx
Due: none

added main contect component
  public/images/banner.jpeg
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/MainContent.tsx
  src/components/layout/layout.scss
  src/pages/styles.scss
Due: yarn lint

Card layout (#15)
  package.json
  src/assets/img/coffee-shop-1.jpg
  src/components/card/card-item.tsx
  src/components/card/rating.tsx
  src/components/card/reviews.tsx
  yarn.lock
Due: yarn lint

Main layout (footer/main/header) (#14)
  package.json
  public/images/banner.jpeg
  public/images/heart.svg
  public/images/icons_cafeteria.svg
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/MainContent.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/styles.scss
  yarn.lock
Due: yarn lint

add mobx
  package.json
  src/components/card/card-item.tsx
  src/components/card/rating.tsx
  src/components/card/reviews.tsx
  src/config/env.config.ts
  src/context/media/media.tsx
  src/context/root-provider.tsx
  src/context/store/store.tsx
  src/hooks/media.hook.ts
  src/hooks/store.hook.ts
  src/interfaces/index.ts
  src/interfaces/services.ts
  src/store/entities/post/post.init-state.ts
  src/store/entities/post/post.interface.ts
  src/store/entities/post/post.store.ts
  src/store/store.ts
  yarn.lock
Due: yarn lint

add mobx
  src/pages/_app.tsx
  src/pages/home.tsx
  src/pages/index.tsx
Due: none

add mobx
  src/components/card/card-item.tsx
Due: none

Add mobx #16 (#17)
  package.json
  src/components/card/card-item.tsx
  src/components/card/rating.tsx
  src/components/card/reviews.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/main-content.tsx
  src/config/env.config.ts
  src/context/media/media.tsx
  src/context/root-provider.tsx
  src/context/store/store.tsx
  src/hooks/media.hook.ts
  src/hooks/store.hook.ts
  src/interfaces/index.ts
  src/interfaces/services.ts
  src/pages/_app.tsx
  src/pages/home.tsx
  src/store/entities/post/post.init-state.ts
  src/store/entities/post/post.interface.ts
  src/store/entities/post/post.store.ts
  src/store/store.ts
  src/styles/styles.scss
  yarn.lock
Due: yarn lint

minor fix
  src/components/card/card.tsx
  src/components/card/components/rating.tsx
  src/components/card/components/reviews.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/pages/home/main-content.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: none

merge main
  src/assets/translations/ru.json
Due: yarn lint

Path conditions:
  yarn lint: any of: *.{js,jsx,scss,css,json}
  yarn prettier: any of: *.{js,jsx}
